@font-face {
  font-family: 'Gotham-Bold';
  src: url('assets/fonts/Gotham-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('assets/fonts/Gotham-Book.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham-Light';
  src: url('assets/fonts/Gotham-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}