.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: 1170px;
}
.grid-container.center--vertical {
  align-items: center;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}
.col-7 {
  grid-column: span 7;
}
.col-8 {
  grid-column: 5 / span 8;
}
.col-9 {
  grid-column: 4 / span 9;
}
.col-10 {
  grid-column: 3 / span 10;
}
.col-12 {
  grid-column: span 12;
}

@media only screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0;
    max-width: none;
  }
  .col-2 {
    grid-column: span 1;
    width: 100%;
  }
  .col-6 {
    grid-column: span 1;
    width: 100%;
  }
  //.col-2,
  .col-3,
  .col-4,
  .col-5,
  //.col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-12 {
    grid-column: 1 / -1;
  }
}