@import '_fonts';
@import '_grid';

:root {
  color: #000;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

/*  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;*/
}

#app {
  width: 100%;
}

a {
  font-weight: 500;
  color: #007CE0;
  text-decoration: inherit;
  &:hover {
    color: #007CE0;
  }
}

body {
  margin: 0 auto;
  display: flex;
  width: 1170px;
}

h1 {
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 24px;
  margin: 30px 0;
}

h2 {
  color: #333;
  font-family: 'Gotham-Bold', sans-serif;
  font-weight: 400;
  font-size: 16px;
  &.header {
    background-color: #EDF6FD;
    border-bottom: 1px solid #CCC;
    height: 50px;
    line-height: 49px;
    margin: 25px 0;
    padding: 0 15px;
  }
}
h3 {
  color: #000;
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0px 0px 10px;
}
h4 {
  margin-top: 0;
}
h5 {
  color: #000;
  font-family: 'Gotham-Bold', sans-serif;
  font-size: 12px;
  margin: 0;
}

hr {
  border: 1px solid #E0E0E0;
  border-bottom: 0;
  margin: 10px 0;
}

.small {
  color: #888;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 12px;
  line-height: 14px;
}

ul.sector-list {
  color: #888;
  list-style-type: none;
  padding: 0;
  i {
    color: #418FDE;
    display: inline-block;
    text-align: center;
    width: 22px;
  }
}

.tabs {
  display: flex;
  margin: 0 0 30px 5px;
}
.tab {
  cursor: pointer;
  font-size: 13px;
  padding: 0 10px;
  text-transform: uppercase;
  > a {
    color: #000;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    &::before {
      display: block;
      content: attr(title);
      font-weight: 700;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
  &.active > a,
  > a:hover {
    color: #007CE0;
    font-weight: 700;
    padding-bottom: 6px;
    border-bottom: 3px solid #007CE0;
  }
  &:not(:last-child):after {
    content: ' | ';
  }
}

.select-wrapper {
  display: inline-block;
  margin-top: 0;
  position: relative;
  &:after {
    color: #CCC;
    content: '\e94c';
    font-family: 'Humanitarian-Icons-v02';
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
select {
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFF;
  border-color: #CCC;
  border-radius: 8px;
  //box-shadow: 0 0 8px rgba(0,0,0,.3);
  font: 700 18px 'Source Sans Pro', sans-serif;
  height: 48px;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.content {
  > div {
    border-top: 1px solid #CCC;
    margin-left: 15px;
  }
}
.map {
  background-color: #EFEFEF;
  height: 500px;
}
.mapboxgl-popup.map-tooltip {
  z-index: 3;
  .mapboxgl-popup-content {
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding: 15px;
    width: 300px;
    h2 {
      margin-top: 0;
    }
    a {
      outline: none;
    }
  }
}
.stat {
  font-family: 'Gotham-Light', sans-serif;
  font-size: 29px;
  line-height: 35px;
  margin-top: 5px;
}
.no-data-msg {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
p.no-data-msg {
  margin: 100px;
}

.key-figure-container {
  padding-left: 15px;
}

.sidebar {
  margin-right: 0;
  padding-top: 15px;
}
.chart-title {
  margin-top: 15px;
}

.map-legend {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  height: 150px;
  padding: 15px 20px;
  position: absolute;
  right: 15px;
  width: 150px;
  > svg {
    height: 98px;
  }
  .legend-title {
    line-height: 16px;
  }
  .no-data-key {
    rect {
      fill: #CCC;
    }
    text {
      transform: translate(25px, 12.5px);
    }
  }
}

.main-content {
  min-height: 620px;
}

